<div class="bg-info p-2 text0center text-white">
    <h3>SportsStore Admin</h3>
</div>
<!-- only display this element if there was an error, check errorMessage -->
<div class="bg-danger mt-2 p-2 text-center text-white"
    *ngIf="errorMessage != null"> {{errorMessage}}
</div>
<div class="p-2">
    <!-- on submitting the form, run the authenticate function in auth.component.ts -->
    <form novalidate #form="ngForm" (ngSubmit)="authenticate(form)">
        <div class="form-group">
            <label>Name</label>
            <!-- bind the input to the username variable in auth.component.ts -->
            <input class="form-control" name="username" [(ngModel)]="username" required />
        </div>
        <div class="form-group">
            <label>Password</label>
            <!-- bind the input to the password variable in auth.component.ts -->
            <input class="form-control" name="password" [(ngModel)]="password" required />
        </div>
        <div class="text-center">
            <button class="btn btn-secondary m-1" routerLink="/">Go Back</button>
            <button class="btn btn-secondary m-1" type="submit">Log In</button>
        </div>
    </form>
</div>